.manual-refund-sub-container-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
}
.manual-refund-sub-container-icon {
  height: 20px;
  width: 20px;
}
.manual-refund-sub-container-icon-desc {
  font-weight: 400;
  margin: 0;
  font-size: 12px;
  line-height: 19px;
  color: #828282;
}

.manual-refund-row-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 80px !important;
  border-radius: 6px;
  font-family: "Noto Sans";
}

.status-view {
  text-align: center;
  height: 3 rem;
  border-color: rgb(70, 141, 241);
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2.3rem;
  width: 100%;
}
